# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows specific
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux specific
*~

# C projects
*.o
*.a
*.so
*.exe
*.dll
*.obj
*.lib
*.d
*.out
*.pid
*.seed
*.swo
*.swp
*.lock
*.gch
*.class
*.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.make
*.mk

# Python projects
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.pyc
*.egg-info/
*.egg
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Julia projects
.julia/
*.jl.cov
*.jl.mem

# Elm projects
elm-stuff/
elm-package.json

# Web projects
/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor/
.env
.env.backup
.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.yarn-integrity

# Exclude dirs or files starting with an underscore
_*/
_*
